<div *ngIf="data=='edit'">
  <div mat-dialog-content [formGroup]="textListForm" >

    <mat-form-field>
      <mat-label>Nuevo texto</mat-label>
      <input matInput formControlName="text">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Cancelar</button>
    <button mat-button [mat-dialog-close]="textListForm.get('text').value" cdkFocusInitial [disabled]="!textListForm.valid">Ok</button>
  </div>
  

</div>

<div *ngIf="data=='delete'">
  <div mat-dialog-mat-dialog-content>
    <p>Desea Eliminar el texto</p>
  </div>
  <div mat-dialog-actions >
    <button mat-button (click)="closeDialog(false)">No</button>
    <button mat-button (click)="closeDialog(true)" cdkFocusInitial>Si</button>
  </div>
</div>
