<div class="form-container">
    <mat-card>
        <mat-card-header [formGroup]="form">
            <mat-form-field class="form-field-add">
                <mat-label>Ingrese un texto </mat-label>
                <input matInput #text formControlName='text'>

            </mat-form-field>
            <button mat-mini-fab id="button-add" (click)="addItem(text.value)" [disabled]="!form.valid">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-header>


        <mat-card-content>

            <table *ngIf="list.length>0" cdkDropList class="list-container" (cdkDropListDropped)="moveItem($event)">

                <tr cdkDrag class="list-item" *ngFor="let item of list; let i=index">
                    <td>{{item}}</td>
                    <td>
                        <button mat-mini-fab id="button-delete" (click)="deleteItem(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-mini-fab id="button-edit" (click)="editItem(i)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>

                </tr>
            </table>

        </mat-card-content>
    </mat-card>

</div>