<div class="form-container">
    <mat-card>
        <mat-card-header [formGroup]="textListForm">
            <mat-form-field class="form-field-add">
                <mat-label>Ingrese una palabra sin espacios en blanco </mat-label>
                <input matInput #text formControlName='text'>

            </mat-form-field>
            <button mat-mini-fab class="button-add" (click)="addItem(text.value)" [disabled]="!textListForm.valid">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-header>


        <mat-card-content>

            <table *ngIf="textList.length>0" cdkDropList class="list-container" (cdkDropListDropped)="moveItem($event)">

                <tr  cdkDrag class="list-item" *ngFor="let item of textList; let i=index">
                    <td (click)="routerGo(item)">{{item}}</td>
                    <td >
                        <button mat-mini-fab class="button-delete" (click)="deleteItem(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-mini-fab class="button-edit" (click)="editItem(i)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>

                </tr>
            </table>

        </mat-card-content>
    </mat-card>

</div>